.navbar-brand{
    font-family:sans-serif;
    font-size: 25px;
}

.empty-button{
    font-size: 10px;
    border-radius: 10px;
    background-color: red;
    border: solid red 1px;
    color: white;
}

.empty-button:hover{
    background-color: white;
    border: solid red 1px;
    color: red;
    font-weight: bolder;
}