.navbar-brand{
    font-family:sans-serif;
    font-size: 25px;
}

.empty-button{
    font-size: 10px;
    border-radius: 10px;
    background-color: red;
    border: solid red 1px;
    color: white;
}

.empty-button:hover{
    background-color: white;
    border: solid red 1px;
    color: red;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  