#root {
  margin: 0 auto;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 100px
}


